section{
        padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    }

    a{
        font-size: 24px;
    }
    .cert{
        width: 25%;
        
    }
    footer{
    display: flex;
    justify-content: space-around;

    background-color: #2874a6;
}

body{
    background-color: #d6eaf8;
}

h1{
    color: #154360;
    font-size: 39px;
}

h2{
    color: #1b4f72;
    font-size: 30px;
}

p{
    color: black;
    font-size: 20px;
}

b{
    color: #4a235a;
    font-size: 23px;
}

header{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #d6eaf8;
    margin: 20px;
    border: 3px solid purple;
    border-radius: 25px;
}

.photo{
    width: 50%;
}

.flex{
    margin: 15px;
}

.ELBENTO{
        display: grid;
        gap: 1.5vw;
        border: 2px solid purple;
        border-radius: 5px;
        grid-template-areas:
"A B C";

.ELBENTO .bento:nth-child(1){
        grid-area: A;
        
    }
    .ELBENTO .bento:nth-child(2){
        grid-area: B;
    }
    .ELBENTO .bento:nth-child(3){
        grid-area: C;
    }
}

.bento:nth-child(1){
border: 2px solid purple;
border-radius: 5px;
}
.bento:nth-child(2){
border: 2px solid purple;
border-radius: 5px;

}
.bento:nth-child(3){
border: 2px solid purple;
border-radius: 5px;

}

.cert2{
width: 100%;
}

.photo2{
    width: 15%;
}